<% if @card.nil? %>
  <p>No more cards left. Take a break, and come back in <span class="wait-seconds"><%= (@session.next_card_at - Time.now).to_i %></span> seconds.</p>
  <form action="/restart" method="POST">
    <button>I want to start a new session</button>
  </form>
<% else %>
  <div class="card">
    <div class="front">
      <%= @card.front %>
    </div>
    <div class="back">
      <%= @card.back %>
    </div>
  </div>

  <div class="controls">
    <form action="/sessions/<%= @session.id %>" method="POST">
      <input type="hidden" name="card_id" value="<%= @card.id %>">
      <input type="hidden" name="flag" value="correct">
      <button>remembered</button>
    </form>

    <form id="forgot" action="/sessions/<%= @session.id %>" method="POST">
      <input type="hidden" name="card_id" value="<%= @card.id %>">
      <input type="hidden" name="flag" value="incorrect">
      <button>forgot</button>
    </form>
  </div>
<% end %>

<script>
$(function() {
  var back = $(".card .back");
  var waitSeconds = $(".wait-seconds");

  // delay submitting the forms to reveal the answer
  $("form").one("submit", function(event) {
    var form = $(this);
    if (parseFloat(back.css("opacity")) == 1) { form.submit(); }
    event.preventDefault();
    back.css("opacity", 1);
    $("button").prop("disabled", true);
    setTimeout(function() {
      form.submit();
    }, 3000);
  });

  // accurate countdown with callback
  function countdown(seconds, callback, last) {
    var last = last || +(new Date);
    var now = +(new Date);
    seconds -= (now - last) / 1000;
    if (seconds >= 0) {
      setTimeout(function() {
        countdown(seconds, callback, now);
      }, 100);
    }
    callback.call(null, seconds);
  };

  // offer a countdown with auto reload if the user has to wait
  if (waitSeconds.size() > 0) {
    var seconds = parseInt(waitSeconds.text());
    countdown(seconds, function(seconds) {
      if (seconds <= 0) {
        document.location.reload();
      } else {
        waitSeconds.text(Math.floor(seconds));
      }
    });
  }
});
</script>

